@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

footer{
    margin: 40px 20px 10px;
    text-align: center;
    font-family: 'Inconsolata', monospace, sans-serif;
    font-weight: 600;
    padding-bottom: 8px;
}

#content{
    display: grid;
    margin: auto 5%;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.image{
    margin: auto;
    height: 100%;
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    font-weight: 700;
    text-align: left;
    font-size: 1.1em;
    font-family: 'JetBrains Mono', monospace, sans-serif;
}

.text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.title{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 3.3em;
    font-family: 'Bangers', sans-serif;
}

.info{
    width: 60%;
    font-size: 1.5em;
    font-family: 'JetBrains Mono',monospace, sans-serif;
}

.btn{
    height: 3.75rem;
    font-size: 1.2em;
    font-family: 'JetBrains Mono',monospace,sans-serif;
    color: white;
    background-color: black;
}

.btn:hover{
    cursor: pointer;
}

footer a{
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html{
        font-size: 12px;
    }

    .image{
        width: 75%;
        grid-column: 1/-1;
    }

    .text{
        justify-content: center;
        align-items: center;
        grid-column: 1/-1;
        margin: 0 5% auto;
    }

    .title, .info{
        text-align: center;
        width: 100%;
    }
}


/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
    html{
        font-size: 14px;
    }
    
    .image{
        grid-column: 1/-1;
        width: 60%;
    }
    
    .text{
        justify-content: center;
        align-items: center;
        grid-column: 1/-1;
        margin: auto 5%;
    }
    
    .title, .info{
        text-align: center;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html{
        font-size: 17px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html{
        font-size: 18px;
    }

    .image{
        grid-column: span 1;
        margin-right: 30px;
    }

    .text{
        grid-column: span 1;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .title, .info{
        text-align: justify;
        width: 70%;
    }
}